<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ngodingyuk.cetakfotoku">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_cetakfoto"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_cetakfoto"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.SplashScreenActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DaftarHargaActivity" />
        <activity
            android:name=".ui.transaction.DetailPelangganActivity"
            android:parentActivityName=".ui.transaction.DetailPelangganActivity" />
        <activity
            android:name=".ui.newtransaction.DetailTambahPesananActivity"
            android:parentActivityName=".ui.newtransaction.DetailTambahPesananActivity" />
        <activity
            android:name=".ui.newtransaction.TotalHargaActivity"
            android:parentActivityName=".ui.newtransaction.TotalHargaActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">

        </activity>
    </application>

</manifest>